body 
{
  background-color: #D7DBDD;
  font-family: "Bradley Hand", cursive;
  color: #5DADE2 ;
}
header
{
 background-color:#A6ACAF;
 height: 17%;
}
menu
{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	text-align: right;
}
menu li
{
display: inline;

}
li
{
display: inline;

}
menu a:hover {
  color: #800000;
}


menu a 
{
 font-family: "Bradley Hand", cursive;
 font-size: 30px;
 text-decoration-line: none;
 color: #5DADE2;
}
.contact a {
 font-family: "Bradley Hand", cursive;
 font-size: 30px;
 text-decoration-line: none;
 color:#5DADE2 ;
}
table
{
 border: 2px; 
}
main h1
{
  color: #5DADE2;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px; 
  text-align: center;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
.logo 
{
  margin-top: 25px;
  margin-left: 25px;
  align-items: center;
}
footer
{
 height: 10%;
 text-align: center;
 background-color:#A6ACAF;
}

.text 
{
 float: left;
}
.textimg
{
  margin: 1px;
  float: left;
}

.blok
{
 display: flex;
 
}

.button
{
 background-color:#A6ACAF;
 text-align: center;
}
.button:hover
{
 background-color:#800000;
}
.goods
{
  text-align: center;   
 display: inline-block; 
 width: 600px; 
 background-color:#A6ACAF;
     
}
.string 
{
 text-align: left;
 font-size:140% ;
}
iframe
{
  width:100%;
  height:374px
}